<div class="field-author-info">
  <div class="author">
    <div class="field__label font-weight-bold"> {{ 'Author'|t }}</div>
    <div class="field__item">{{ author.name }} {{ author.first_surname }} {{ author.second_surname }}
      {% if author.organization %} - {{ author.organization }}{% endif %}</div>
  </div>
  {% if coauthors %}
    <div class="coauthor">
      <div class="field__label font-weight-bold">{{ 'Coauthors'|t }}</div>
      {% for author in coauthors %}
        <div class="field__item">{{ author.name }} {{ author.first_surname }} {{ author.second_surname }}
          {% if author.organization %} - {{ author.organization }}{% endif %}</div>
      {% endfor %}
    </div>
  {% endif %}
</div>
